# Archivos y carpetas generados por Visual Studio
.vs/
*.user
*.suo

# Carpetas de salida de compilación
bin/
obj/

# Archivos temporales
*.log
*.tmp

# Configuración de Rider o VS Code (opcional)
.idea/
.vscode/

# Paquetes de NuGet
packages/
*.nupkg

# Otros archivos de sistema
Thumbs.db
Desktop.ini
